.main{
    /* width: 100%; */
    background-color: #080202;
    color: #73BBC9;
    margin: 0;
}
body{
    margin: 0px;
}
.top-margin{
    margin-bottom: 10rem;
}
.container{
    display: flex;
    gap: 6rem;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}
.center{
    text-align: center;
}
.introduction img{
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.center-align{
    margin-top: 4rem;
    width: 75%;
    margin-left: 12.5%;
}
.left-align{
    text-align: left;
}

.skills  img{
    float: left;
    height: 200px;
    width: 360px;
    margin-right: 1rem;
    /* border-radius: 50%; */
}

footer{
    background-color: #73BBC9;
}
h2, h3{
    margin-bottom: 4rem;
    color: #73BBC9;
}
.clear{
    clear: left;
}
.contact{
    margin-top: 16rem;
}
button{
    margin-bottom: 4rem;
    margin-top: 4rem;
    border-radius: 5px;
    background-color: #73BBC9;
    color: white;
    height: 3rem;
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
}
h1{
    font-size: 4rem;
    font-style: italic;
}